In [2]:
import pandas as pd
import sqlite3

In [50]:
with open('./data/CES-D (우울).pdf','rb') as pdfFileObj:
    pdfReader = PyPDF2.PdfFileReader(pdfFileObj)
    print(pdfReader.numPages)
    pageObj = pdfReader.getPage(0)
    text = pageObj.extractText()    
    title = text.split('()')[0]    
    desc = text.split('()')[1].split('에 표 하시기 바랍니다O.')[0] + ' 선택 하시기 바랍니다.'
    print(text.split('()')[1].split('에 표 하시기 바랍니다O.')[1].split('..'))

1
['  나는 지난 일주일동안', ' 극히 드물게가끔자주거의 대부분일 이하1일1~2일3~4일 이상51평소에는 아무렇지도 않던 일들이 괴롭고 귀찮게 느껴졌다.01232먹고 싶지 않았다 입맛이 없었다; .01233가족이나 친구가 도와주더라도 울적한 기분을 떨쳐버릴 수 없었다.0123*4다른 사람들만큼 능력 있다고 느꼈다. 01235무슨 일을 하든 정신을 집중하기가 힘들었다. 01236우울했다. 01237하는 일마다 힘들게 느껴졌다.0123*8미래에 대하여 희망적으로 느꼈다.01239내 인생은 실패작이라고 생각했다.012310무서움을 느꼈다.012311잠을 설쳤다0123*12행복했다.012313평소보다 말을 적게 했다012314외로움을 느꼈다.012315사람들이 불친절했다.0123*16인생이 즐거웠다.012317울음을 터뜨린 적이 있었다.012318슬픔을 느꼈다. 012319사람들이 나를 싫어한다고 느꼈다. 012320일을 제대로 진척시킬 수 없었다.0123']

In [5]:
desc = '아래에 적혀 있는 문항을 잘 읽으신 후 , 지난 주 1 동안 당신이 느끼고 행동한 것을 가장 잘 나타낸다고 생각되는 숫자를 선택 하시기 바랍니다.'
topic = 'CES-D'
name = '우울'
title = 'Center for Epidemiologic Studies Depression Scale ; CES-D (역학연구 센터 우울 척도)'
items = '극히 드물게 (1일 이하),가끔 (1~2 일),자주 (3~4 일),거의 대부분 (5일 이상)'

In [20]:
desc = '아래에 적혀 있는 문항을 잘 읽으신 후 , 지난 주 2 동안 당신이 느끼고 행동한 것을 가장 잘 나타낸다고 생각되는 숫자를 선택 하시기 바랍니다.'
topic = 'PHQ-9'
name = '우울'
title = 'Patient Health Questionnaire ; PHQ-9 (한국어판 우울증 선별도구)'
period = 2
items = '없었음,가끔 (1~2 일),자주 (3~4 일),거의 대부분 (5일 이상)'

In [9]:
con = sqlite3.connect("./db.sqlite3")
cur = con.cursor()
sql = 'DELETE FROM poll_desc'
cur.execute(sql)
con.commit()

sql = 'INSERT INTO poll_desc (topic,desc,topic_name,title) values(?,?,?,?)'
cur.execute(sql, [topic, desc,name,title])
con.commit()

# Be sure to close the connection
con.close()

In [15]:
con = sqlite3.connect("./db.sqlite3")
cur = con.cursor()

sql = 'SELECT * from poll_desc'
query = cur.execute(sql)
cols = [col[0] for col in query.description]
df = pd.DataFrame.from_records(data=query.fetchall(), columns=cols)
# Be sure to close the connection
con.close()
df

,topic,desc,topic_name,title
0,CES-D,"아래에 적혀 있는 문항을 잘 읽으신 후 , 지난 주1 동안 당신이 느끼고 행동한 것...",우울,Center for Epidemiologic Studies Depression Sc...

In [51]:
data = ["평소에는 아무렇지도 않던 일들이 괴롭고 귀찮게 느껴졌다.",
"먹고 싶지 않았다; 입맛이 없었다.",
"가족이나 친구가 도와주더라도 울적한 기분을 떨쳐버릴 수 없었다.",
"다른 사람들만큼 능력 있다고 느꼈다.", 
"무슨 일을 하든 정신을 집중하기가 힘들었다.", 
"우울했다.", 
"하는 일마다 힘들게 느껴졌다.",
"미래에 대하여 희망적으로 느꼈다.",
"내 인생은 실패작이라고 생각했다.",
"무서움을 느꼈다.",
"잠을 설쳤다."
"행복했다.",
"평소보다 말을 적게 했다."
"외로움을 느꼈다.",
"사람들이 불친절했다.",
"인생이 즐거웠다.",
"울음을 터뜨린 적이 있었다.",
"슬픔을 느꼈다.", 
"사람들이 나를 싫어한다고 느꼈다.", 
"일을 제대로 진척시킬 수 없었다.",
]

In [52]:
con = sqlite3.connect("./db.sqlite3")
lastkey = 1

cur = con.cursor()
sql = 'DELETE FROM polls'
cur.execute(sql)
con.commit()
sql = 'INSERT INTO polls (poll_key,poll,topic) values(?,?,?)'

for idx, poll in enumerate(data):
    cur.execute(sql, [lastkey+idx, poll,topic])    
con.commit()

# Be sure to close the connection
con.close()

In [18]:
con = sqlite3.connect("./db.sqlite3")

cur = con.cursor()
sql = 'SELECT * from polls'
query = cur.execute(sql)
cols = [col[0] for col in query.description]
df = pd.DataFrame.from_records(data=query.fetchall(), columns=cols)
# Be sure to close the connection
con.close()
df

    poll_key                                 poll  topic
0          0      평소에는 아무렇지도 않던 일들이 괴롭고 귀찮게 느껴졌다.  CES-D
1          1                  먹고 싶지 않았다; 입맛이 없었다.  CES-D
2          2  가족이나 친구가 도와주더라도 울적한 기분을 떨쳐버릴 수 없었다.  CES-D
3          3                 다른 사람들만큼 능력 있다고 느꼈다.  CES-D
4          4             무슨 일을 하든 정신을 집중하기가 힘들었다.  CES-D
5          5                                우울했다.  CES-D
6          6                     하는 일마다 힘들게 느껴졌다.  CES-D
7          7                   미래에 대하여 희망적으로 느꼈다.  CES-D
8          8                   내 인생은 실패작이라고 생각했다.  CES-D
9          9                            무서움을 느꼈다.  CES-D
10        10                         잠을 설쳤다.행복했다.  CES-D
11        11              평소보다 말을 적게 했다.외로움을 느꼈다.  CES-D
12        12                          사람들이 불친절했다.  CES-D
13        13                            인생이 즐거웠다.  CES-D
14        14                      울음을 터뜨린 적이 있었다.  CES-D
15        15                             슬픔을 느꼈다.  CES-D
16        16                   사람들이 나를 싫어한다고 느꼈다.  CES-D
17        17                   일을 제대로 진척시킬 수 없었다.  CES-D

In [1]:
import pprint
from db.db import MongoDB
db = MongoDB()._conn['users']
collection = db['polls']
pprint.pprint(collection.find_one())
db.list_collection_names()

MongoDB successfully connected!
{'_id': ObjectId('63e5cb8faa60d030b10001c2'),
 'date': datetime.datetime(2023, 2, 10, 13, 43, 59, 440000),
 'poll': '1',
 'poll_key': '1',
 'tag': 'PHQ-9 (우울)',
 'userid': 'test'}

['polltypes', 'polls', 'devices', 'users']

In [11]:
dataset0 = [{'type': 'form0', 'tag': '수면 일지'},          
            {'type': 'form1', 'tag': 'PHQ-9 (우울)'},
          {'type': 'form1', 'tag': 'CES-D'},            
          {'type': 'form1', 'tag': 'GAD-7 (불안)'},        
            {'type': 'form3', 'tag': 'ISI (불면증)'},
          {'type': 'form2', 'tag': 'Stress Questionnaire'},          
            {'type': 'form1', 'tag': 'INQ (대인관계)'},
            {'type': 'form1', 'tag': 'WHOQOL-BREF (삶의 질)'},
            {'type': 'form1', 'tag': 'S-Scale-A (스마트폰 중독)'},
          ]
dataset1 = [{'type': 'form0', 'tag': '수면 일지'},
          {'type': 'form1', 'tag': 'PHQ-9 (우울)'},          
          {'type': 'form1', 'tag': 'GAD-7 (불안)'},                    
          ]
dataset2 = [{'type': 'form0', 'tag': '수면 일지'},
          {'type': 'form1', 'tag': 'PHQ-9 (우울)'},
          {'type': 'form1', 'tag': 'GAD-7 (불안)'},
          {'type': 'form2', 'tag': 'Stress Questionnaire'},
          {'type': 'form3', 'tag': 'ISI (불면증)'},
          ]
dataset3 = [{'type': 'form0', 'tag': '수면 일지'},
          {'type': 'form1', 'tag': 'PHQ-9 (우울)'},
          {'type': 'form1', 'tag': 'CES-D'},
          {'type': 'form1', 'tag': 'GAD-7 (불안)'},          
          {'type': 'form3', 'tag': 'ISI (불면증)'},
          {'type': 'form2', 'tag': 'Stress Questionnaire'},
          ]

testset = []
from datetime import datetime
now = 
for i in range(9):
    if i == 0:
        data = {'week':i, 'dataset':dataset0 ,'name':'knu_test'}
    elif i == 8:
        data = {'week':i, 'dataset':dataset3 ,'name':'knu_test'}    
    elif i % 2 == 1:
        data = {'week':i, 'dataset':dataset1 ,'name':'knu_test'}
    elif i % 2 == 0:
        data = {'week':i, 'dataset':dataset2 ,'name':'knu_test'}
    
    #print(i, data)
    testset.append(data)

    
db = MongoDB()._conn['users']
collection = db['polltypes']
db.list_collection_names()
#collection.insert_many(testset)

MongoDB successfully connected!